/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root */
:root {
  --font-headings: "Sora", serif;
  --font-prominent: "Roboto Mono", serif;
  --content-primary: #ffffff;
  --bg-primary: #020202;

  font-size: 62.5%; /* 10px */
}

/* General */
body {
  font-size: 1.6rem;
  color: var(--content-primary);
  background-color: var(--bg-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

/* Page */
#page {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  padding: 4.4rem 3.5rem;
}

/* Header */
.header img {
  display: block;
  margin: 0 auto;
}

/* Hero */
.hero {
  margin: 4.6rem 0 4.2rem 0;
}
.hero strong {
  display: block;
  font-family: var(--font-prominent);
  line-height: 150%;
  text-transform: uppercase;

  background: linear-gradient(90deg, #c7c9cc 0%, #3d3d3d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.hero h1 {
  font-size: 4rem;
  line-height: 130%;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 0.8rem;
}
